/* Spring Java Portal main CSS style */

/* Font-Awesome Icons */

.fa {
	margin-right: 5px;
}

.fa-left {
	margin-left: 5px;
}

.fa-success {
	color: #5EBA7D;
}

.fa-fail {
	color: #FF0000;
}

/* Bootstrap */

.dropdown-menu {
	background-color: #43464B;
	border: 1px solid #de1839;
}

.dropdown-item {
	color: #FFFFFF;
}

.dropdown-item:hover, .dropdown-item:focus {
	background-color: #43464B;
	color: #5CB85C;
}

.table-bordered {
	border: 1px solid #de1839;
}

.table-bordered thead tr th{
	border-left: none;
	border-right: 1px solid #de1839;
	border-top: none;
	border-bottom: none;
	background-color: #de1839;
}

.table-bordered tbody tr td{
	border: 1px solid #de1839;
}

.page-link {
	background-color: #de1839;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.page-link:hover, .page-link:focus {
	background-color: rgba(222, 24, 57, 0.6);
	color: #FFFFFF;
}

.page-item.active .page-link {
	background-color: rgba(222, 24, 57, 0.6);
	border: 1px solid #FFFFFF;
}

.page-item.disabled .page-link {
	color: #333333;
}

.page-item.disabled .page-link:focus {
	outline: none;
}

.page-item.active .page-link:focus {
	border: 1px solid #FFFFFF;
	outline: none;
}

.card {
	background-color: #de1839;
}

.card-footer {
	background-color: #FFFFFF;	
}

.card-blockquote {
	margin-left: 10px;
}

.btn-danger:focus {
	color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;	
}


/* Spring Java Portal */

/* General */

body {
  	background: url("../images/tactile_noise_@2X.png");
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
}

hr {
	border-top-color: #de1839;
}

h1 {
	color: #FFFFFF;
}

a {
	color: #FFFFFF;
}

a:hover, a:focus {
	color: #de1839;
	text-decoration: none;
}

/* Main */

.sjp-container {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #333333;
	border-radius: 5px;
	border: 1px solid #de1839;
	opacity: 0.9;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.default-header {
	
}

.default-navbar .dropdown-toggle::after {
	content: none;
}

.default-navbar .dropdown-menu {
	left: -100px;
}

.navigation-main {
	background-color: #de1839;
	margin: 10px 0;
}

.navigation-main a {
	color: #FFFFFF;
}

.navigation-main a:hover, .navigation-main a:focus {
	color: #333333;
	text-decoration: none;
}

.sjp-default-nav-main-dropdown a:hover, .sjp-default-nav-main-dropdown a:focus{
	color: #de1839;	
}

.nav-link a {
	color: #de1839;
}

.sjp-index-section {
	margin: 20px 0;
}

.sjp-table-no-borders {
	width: 100%;
}

.sjp-table-no-borders thead th, .sjp-table-no-borders td{
	text-align: center;
	border: none;
}

/* OCS */

#sjp-shopping-cart-activiti {
	cursor: pointer;
}

.sjp-shopping-cart-selected-products {
	display: none;
}

.sjp-shopping-cart-selected-products-card {
	border-radius: calc(.25rem - 1px);
	background-color: #de1839;
}


.sjp-shopping-item {
	background-color: #de1839;
	margin: 10px;
	border-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

.webflow-shopping-cart-top {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.webflow-shopping-cart-top a {
	opacity: 1;	
}

.webflow-shopping-cart-top a:focus, .webflow-shopping-cart-top a:hover {
	color: #FFFFFF;
	opacity: 0.8;
}

.sjp-shopping-cart {
	background-color: #de1839;
	border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sjp-fa-cart {
	vertical-align: middle;
}

/* .sjp-shopping-item-add { */
/* 	padding-left: 0; */
/* } */


.sjp-shopping-item-add .link-button {
	color: #de1839;
}


/* .sjp-shopping-item-add .link-button:focus, .sjp-shopping-item-add .link-button:hover { */
/*   	color: #333333; */
/* } */

.sjp-shopping-item-image {
	margin-bottom: 10px;
}

.sjp-shopping-cart-remo-link-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
}
.sjp-shopping-cart-remo-link-button:focus, .sjp-shopping-cart-remo-link-button:hover {
  	color: #FFFFFF;
	text-decoration: none;
	outline: none;
}

/* Data Science */

.sjp-datascience-listfile-panel {
	height: 300px;
	margin-top: 10px;
	overflow-y: scroll;
	border: 1px solid #de1839;
	font-weight: bold;
}

/* Admin Pages */

/* User Pages */

.user-profile-image-upload {
	margin-top: 10px;
}

/* Social Twitter */


.twitter-text-color {
	color: #27A5F3;
}

.twitter-profile-img {
	margin-right: 10px;
	border-radius: 5px;
	border: 1px solid #27A5F3;
}

.twitter-profile-table thead th, .twitter-profile-table td {
	text-align: center;
	border: none;
}

.twitter-search-container {
	margin-top: 15px;
	margin-bottom: 15px;
}

#tweets thead th{
	border:none
}

.twitter-search-jfreechart {
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Button as a Link -> Used for Spring Logout POST */
.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
}
.link-button:focus, .link-button:hover {
  	color: #de1839;
	text-decoration: none;
	outline: none;
}

/* DataTables */

.action {
	margin-right: 10px;
}
